.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Dimmer customizado para controle total */
.custom-dimmer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 1000;
  opacity: 0;
  animation: fadeInDimmer 0.3s forwards;
}

/* Animação de fade-in para o dimmer */
@keyframes fadeInDimmer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Animação de fade-out para o dimmer */
.custom-dimmer.fade-out-dimmer {
  animation: fadeOutDimmer 0.3s forwards;
}

@keyframes fadeOutDimmer {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Estilos base do modal */
.modal-gerenciador-expositor-base.ui.mini.modal {
  position: relative !important;
  margin: 0 !important;
  width: auto !important;
  box-sizing: border-box !important; 
  opacity: 0;
  animation: fadeInModal 0.3s forwards;
  max-width: 90vw !important;
  max-height: 90vh !important;
  width: fit-content !important;
  height: fit-content !important; 
  overflow: hidden !important;
  display: flex !important; 
  flex-direction: column !important; 
  justify-content: space-between !important;
  align-items: center !important;

}

/* Animação de fade-in para o modal */
@keyframes fadeInModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Animação de fade-out para o modal */
.modal-gerenciador-expositor-base.ui.mini.modal.fade-out-modal {
  animation: fadeOutModal 0.3s forwards;
}

@keyframes fadeOutModal {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Media query para telas muito pequenas */
@media (max-width: 480px) {
  .modal-gerenciador-expositor-base.ui.mini.modal {
    max-width: 95vw !important; /* Maior largura em telas pequenas */
    max-height: 95vh !important; /* Maior altura em telas pequenas */
    padding: 0.5rem !important; /* Reduzir padding em telas muito pequenas */
  }

  .modal-gerenciador-expositor-base.ui.mini.modal .header {
      font-size: 1.2em !important; /* Reduzir tamanho da fonte do header */
  }

  .modal-gerenciador-expositor-base.ui.mini.modal p {
      font-size: 1em !important; /* Reduzir tamanho da fonte do parágrafo */
  }
}